*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #c1ed2f;
  ::-webkit-scrollbar{
      display: none;
    }
}
h1{
  margin: 0 auto;
  padding: 10px;
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; 
  background-color: #e9d2bf;
  box-shadow: 0 0 30px #2221204b;
  width: 300px;
  border-radius: 10px;

}
h1:hover{
  transition: all 0.7s ease;
  color: #ef9067;
  cursor: pointer;
}
button{
  padding: 16px;
  border-radius: 16px;
  text-transform: uppercase;
  border: none;
  text-shadow: 0 0 9px #aa949d;
}
button:hover{
  transition: all 1s ease 0s;
  background-color: #f54d07;
  cursor: pointer;
  color: white;
  box-shadow: 5px 5px 9px #aa949d;
}
.btns{
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.btns .focus:focus{
  background-color: #f54d07;
  
}
.cards-main{
 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
  cursor: pointer;
}
.cards{
  position: relative;
  width:250px;
  height:350px;
  opacity: 0.7;
  transition: all 0.5s ease-out ;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 30px #050505;
}
.cards:hover{
  opacity: 1;
  transition: all 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 30px #ef9067;
}


.img-card img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 30px;
  transition: all 0.5s ease-out ;
}
.img-card img:hover{
  transition: all 0.5s ease;
}

.price{
  position: absolute;
  z-index: 2;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  padding: 16px;
  background-color: #1b020bc9;
  box-shadow: 0 0 30px #ef9067;
  color: white;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.rating{
  position: absolute;
  z-index: 2;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  padding: 16px;
  background-color: #1b020bc9;
  box-shadow: 0 0 30px #ef9067;
  color: white;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.info{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  border-top-left-radius: 50px;
}
.text{
  display: grid;
  place-content: center;
  transition: all 0.5s ease-out ;
  
}

/* .text p{
  border-radius: 30px;
  background-color: #1b020bc9;
  color: white;
  overflow:scroll;
  width:200px;
  height:350px;
  width:250px;
  border: 1px solid rgb(48, 217, 217);
  padding: 20px;
  z-index: 4;
  
} */
.title{
  position: absolute;
  z-index: 4;
  height: 350px;
  width:500px;
  transform: translateX(-50%);
  
}
.title:hover{
  transition: all 0.7s ease;
  transform: translateX(0%);
  
  
}
.title p{
  color: white;
  background-color: #1b020bc9;
  z-index: 5;
  padding-top: 20px;
  padding-bottom:10px;
  padding-left: 20px;
  width:250px;
}